%table
  %thead
    %td Language
    %td Name
    %td Link
    %td Description
  %tbody
    %tr
      %td C
      %td libemq
      %td
        %a{:href => "https://github.com/yakushstanislav/libemq"}GitHub
      %td High-performance client that supports all features of EagleMQ
    %tr
      %td C++
      %td libemq-cpp
      %td
        %a{:href => "https://github.com/yakushstanislav/libemq-cpp"}GitHub
      %td Simple C++ wrapper for libemq
