%table
  %thead
    %td Language
    %td Name
    %td Link
    %td Description
  %tbody
    %td C
    %td libemq
    %td
      %a{:href => "https://github.com/yakushstanislav/libemq"}GitHub
    %td This client is light on memory usage, high performance and provide full access to server side methods.
