#docmenu
  %ul
    %li
      %a{:href => "#EagleMQ"}Begin
    %li
      %a{:href => "#Basic+commands"}Basic
    %li
      %a{:href => "#Users"}Users
    %li
      %a{:href => "#Queues"}Queues
    %li
      %a{:href => "#Routes"}Routes
    %li
      %a{:href => "#Channels"}Channels
#text
  = locals[:body]
