%p
  The latest stable version of the EagleMQ you can download here:
  %a{:href => "https://github.com/yakushstanislav/EagleMQ/archive/1.0.zip"}1.0.zip

%p To clone EagleMQ repository run:
.console git clone https://github.com/yakushstanislav/EagleMQ.git
