%p EagleMQ is an open source, high-performance and lightweight queue manager.
#twitter{:class => "tweets"}
  .tweets_header EagleMQ news feed
%script{:type => "text/javascript"}$('#twitter').miniTwitter('eaglemq');
