@import url(http://fonts.googleapis.com/css?family=Orbitron);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
header h1 {
  color: black;
  font-family: "Orbitron", sans-serif;
  font-size: 70px; }

nav {
  display: inline-block;
  padding: 7px;
  padding-left: 20px;
  padding-right: 20px;
  width: 70%;
  min-width: 800px; }

nav ul {
  list-style: none;
  margin: 0;
  padding: 0.3em; }

nav li {
  float: left;
  margin-right: 5px; }

nav li a {
  display: block;
  padding: 5px;
  color: black;
  text-decoration: none; }

nav li a:hover {
  color: white;
  background-color: #0242a8; }

#main {
  width: 100%;
  text-align: center;
  font-family: "Open Sans", sans-serif; }

#content {
  display: inline-block;
  text-align: left;
  padding: 20px;
  border: #cccccc 2px solid;
  width: 70%;
  min-width: 800px; }

#content table {
  font-size: 15px;
  padding: 15px;
  margin: 10px; }

.console {
  color: #cccccc;
  background: black;
  font-family: courier;
  padding: 10px; }

#text h1 {
  background-color: #c4d2ff;
  padding: 3.5px;
  font-size: 24px;
  color: #4d4c4c; }

#text h2 {
  padding: 3.5px;
  font-size: 20px;
  color: #4d4c4c; }

#text p {
  font-size: 16px; }

#text em {
  font-size: 15.5px; }

#text ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0; }

#text ul li {
  padding-left: 25px; }

#text table {
  font-size: 15px;
  padding: 15px;
  border: #cccccc 1px solid;
  color: #4d4c4c; }

footer {
  display: inline-block;
  margin: 4px;
  padding-left: 20px;
  padding-right: 20px;
  width: 70%;
  min-width: 800px; }

body {
  background: white; }
